body {
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  overflow: hidden;
}
.container {
  display: grid;
  grid-template-columns: 45% 55%;
}
.image {
  grid-column: 1;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fffbf6;
  overflow-y: hidden;
}
.second-div {
  grid-column: 2;
  overflow-y: scroll;
  height: 800px;
}
.image h1 {
  font-size: 55px;
  color: black;
  margin: 1rem;
}
.image img {
  height: 380px;
}

.first {
  text-indent: 10px;
}
.second {
  margin-left: 13px;
}
.third {
  margin-left: 160px;
}

.image {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image h3 {
  font-size: 13px;
  margin-bottom: 10px;
}
.image p {
  font-size: 15px;
  margin: 0;
  padding-top: 5px;
}
.links ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  gap: 20px;
  padding: 0;
  margin-top: 20px;
}
.links li img {
  height: 10px;
  color: rgb(18, 18, 204);
}
.second-div h1 {
  font-size: 18px;
  color: black;
  font-weight: bold;
  margin-left: 34rem;
  margin-top: 2rem;
  margin-bottom: 4.5rem;
}
.second-div h2 {
  font-size: 35px;
  color: black;
  font-weight: bold;
  margin-left: 4.5rem;
  margin-bottom: 0;
  margin-top: 2rem;
  padding-bottom: 10px;
}
.second-div p {
  font-size: 18px;
  color: black;
  margin-left: 4.5rem;
  margin-top: 0;
}
form {
  margin-left: 4.5rem;
  margin-right: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
}
form > section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

form > section > div {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}
.column {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
}
.column label {
  color: rgb(150, 146, 146);
}
a {
  text-decoration: none;
  color: rgb(34, 93, 241);
}

.single-column {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  font-size: 18px;
  margin-top: 1rem;
  padding-bottom: 8px;
  color: rgb(26, 26, 26);
}
input {
  font-size: 16px;
  width: 296px;
  height: 55px;
  border: none;
  background-color: rgb(248, 248, 248);
  border-radius: 5px;
  padding-left: 10px;
}
.single-column input {
  width: 635px;
}
button {
  margin-bottom: 7rem;
  font-size: 18px;
  color: white;
  height: 55px;
  width: 645px;
  border: none;
  border-radius: 5px;
  background-color: rgb(96, 91, 200);
}
